.gallery {
  width: 71vw;
  padding: 4vh;
  border: 1px solid gray;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    text-align: center;
    margin-bottom: 5vh;
  }

  &__item {
    height: 40vh;

    &:not(:nth-child(4n)) {
      margin-right: 2vw;
    }

    &:not(:nth-last-child(-n + 4)) {
      margin-bottom: 2vh;
    }
  }
}

.item {
  width: 14vw;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 2vw;

  &__foto {
    position: relative;
    margin: 0 auto;
    height: 20vh;

    &--svg {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 20px;
    }

    & img {
      max-width: 100%;
      max-height: 20vh;
    }
  }
}
